@import "tailwindcss";

@font-face {
  font-family: lausanne-300;
  src: url("../public/fonts/Lausanne-300.woff2");
}

@font-face {
  font-family: lausanne-500;
  src: url("../public/fonts/Lausanne-500.woff2");
}

@theme {
  --width-special-video: clamp(1rem, calc(2.3rem + 4.7vw), 100rem);
  --height-special-video: clamp(1rem, calc(1rem + 2vw), 100rem);

  --text-xs: clamp(0.1rem, calc(0.2rem + 0.1vw), 100rem);
  --text-lg: clamp(1rem, calc(1rem + 1.7vw), 100rem);
  --text-lg--line-height: 0.7;
  --text-xl: clamp(1rem, calc(1rem + 4.3vw), 100rem);
  --text-xl--line-height: 0.9;

  --margin-special-video: clamp(0.1rem, calc(0.2rem + 0.2vw), 100rem);

  --gap-special-video: clamp(0.1rem, calc(0.1rem + 0.2vw), 100rem);

  --border-width-1: 0.2vw;
}

body {
  color: #fff;
}
